.m-tile__image{
    background: #42424200;
    animation: 3s ease blink infinite;
}

@keyframes blink{
    0%,100%{
        background: #42424200;
    }
    50%{
        background: #424242ff;
    }
}